@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-height: 100vh;
    max-width:1440px ;
}
.back{
    background-color: hsl(193, 100%, 96%);
    margin: 0;
    display: inline-block;
}
.head-section{
    margin: 35px;
}
header{
    display: flex;
    justify-content: space-between;
}
.logo-container{
    width: 130px;
    height: 50px;
}
.logo{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.top-btn{
    border-style: none;
    border-radius: 20px;
    width: 140px;
    height: 35px;
}
.top{
    display: flex;
}
.top-left{
    flex: 50%; 
    max-width: 700px;
}
.top-right{
    flex: 50%;
    max-width: 600px;
}
.mockups-img{
   max-width: 100%;
   max-height: 100%;
   display: inline-block;
}
p{
    margin: 14px 0;
}
.pink-btn1{
    margin-bottom: 50px;
    align-items: center;

}
.pink-btn, .center-btn1{
        border-style: none;
        color: white;
        border-radius: 40px;
        background-color: hsl(322, 100%, 66%);
        width: 300px;
        height: 50px;
}
.intro{
    margin-right: 70px;
}
.intro1{
    margin-right: 90px;
    line-height: 1.5;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.pink-btn:hover, .center-btn1:hover{
    background-color:  hsl(322, 100%, 66%);
}
.mid-section{
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;

}
.mid-1,.mid-2, .mid-3 {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(51, 21, 21, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 30px;
    padding: 25px;
}
.mid-1a, .mid-2b, .mid-3a{
    flex: 100%;
    padding: 70px;
    
}
.mid-1b, .mid-2a, .mid-3b{
    flex: 100%;
}

.together-img,  .users-img{
    margin: auto;
    max-width:80%;
   max-height: 80%;
   display: block;
}
.flowing-img {
    margin: 20px 20px 20px 70px;
    max-width:80%;
   max-height: 80%;
   display: block;
}
.mid-3{
    margin-bottom:0px;
}
.center{
    text-align: center;
    box-shadow: 0 3px 6px rgba(51, 21, 21, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    padding: 40px;
    max-width: 600px;
    position: relative;
    bottom: -60px;
    margin: 0 auto;
    z-index: 3;
    border-radius: 10px;
}
.center h2{
    margin: 0 auto 26px;
}

.intro3, .intro1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.footer{
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(192, 100%, 9%);
    margin: 0;
    padding: 70px 0;
}
.foot-section{
    max-width: 90%;
    margin:70px auto 10px;
}
.foot-huddle-img{
    filter: invert(100%)
    saturate(0%)
    brightness(200%);
    width: 130px;

}
.location, .email, .phone{
    display: flex;
    gap: 20px;
}
.lorem{
    margin-top: 0;
}
.lorem1{
    text-align: justify;
}
.foot-huddle{
    margin-bottom: 20px;
}
.row{
    display: flex;
}
.foot-col{
    flex-basis: 20%;
    margin-right: 60px;
}
.foot-location{
    flex-basis: 40%;
}
ul{
    list-style: none;
}
.foot-col ul li a, .foot-col p {
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    color: white;
    display: block;
    transition: all 0.3s ease;
}
.foot-col ul li a:hover{
    padding-left: 6px;
}
.foot-col .social-links a{
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: inherit;
    margin-right:0 20px 0px 20px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.foot-col .social-links a:hover{
    color: #24262b;
    background-color: hsl(322, 100%, 66%);
}
.fab fa-facebook-f{
    border-radius: 50%;
    border: 1px solid white;
}
.copywright{
    font-size: 12px;
    color: white;
    float: right;
    font-weight: 300;
    margin-right: 70px;
}

@media only screen and (max-width:710px){
    .top{
        display: flex;
        flex-direction: column;
    }
    .top-left, .top-right{
        flex: 100%;
        margin-top: 20px;
    }
    .pink-btn1{
        margin-top: 20px;
    }
    .top-left, .top-right{
                text-align: center;   
    }
    .mid-section{
        padding: 80px 10px;

    }
    .mid-1, .mid-3{
        flex-direction: column-reverse;
    }
    .mid-2{
        flex-direction: column;
    }
    .mids, h3{
        text-align: center;
    }
    .row{
        flex-direction: column;
    }
    .foot-section{
        margin-top:120px;
    }
    .end1{
        margin-top: 50px;
    }
    .end{
        margin-bottom: 16px;
    }
    .social-links{
        text-align: center;
    }
    .endcopy{
        text-align: center;    
   }
   .fab{
    border: 1px solid white;
    padding: 8px;
    border-radius: 50%;
    
   }
    
}

